<?xml version="1.0" encoding="utf-8"?>
<launch>
	<!-- Ustawienia dla progrmau śledzącego znacziki referencyjne -->
	<arg name="cam_image_topic" default="/kinect2/hd/image_color" />
	<arg name="cam_info_topic" default="/kinect2/hd/camera_info" />
	<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
		<rosparam command="load" file="$(find inz_kinect_kalibracja)/config/artag.yaml" />

		<remap from="camera_image"  to="$(arg cam_image_topic)" />
		<remap from="camera_info"   to="$(arg cam_info_topic)" />
	</node>

	<!-- Program do pobiernaia danych z kiencta-->
	<node pkg="kinect_grabber" name="kinect_grabber" type="kinect_grabber" output="screen" />
	<!-- Program przygotowujący do kalibracji-->
	<node pkg="inz_kinect_kalibracja" name="get_tcp_tf" type="get_tcp_tf" output="screen" />
	<!-- Rviz z plikiem konfigurayjnym-->
	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find inz_kinect_kalibracja)/rviz/rviz_config.rviz" />
	
	<!--Uruchominie progrmau do obliczenia pozycji kamery w układzie robota  -->
	<include file="$(find easy_handeye)/launch/calibrate.launch">
		<!-- Typ działania programu, false oznacza że kamera jest nie ruchoma, znacznik przymocowany do robota-->
		<arg name="eye_on_hand" value="false"/>
		<arg name="namespace_prefix" value="kalibracja"/>

		<!-- Układ bazowy robota i układ efektora-->
		<arg name="robot_base_frame" value="sl_base"/>
		<arg name="robot_effector_frame" value="effector_frame"/>

		<!-- Układ kamery i układ markera -->
		<arg name="tracking_base_frame" value="kinect2_rgb_optical_frame"/>
		<arg name="tracking_marker_frame" value="ar_marker_2"/>

		<!-- Dodadtkowe opcje-->
		<arg name="freehand_robot_movement" value="true" />
		<arg name="publish_dummy" value="false" />
		<arg name="start_rviz" value="false" />	
  	</include>
</launch>